.container .text {
    color: red;
    background-color: yellow;
    font-size: 20px;
    text-align: center;
}
/* Note the space between .container and .text. It styles text-classes only
if the text-class is also (AND) a descendant/nested in a .container class.*/
/* Instead of a .container-class, it could also be a container-type (simply:
div {} in the .css-file.*/ 