body {
    font-family: sans-serif;
}

* {
    background-color: #aeddf8;
}

div {
    color: black;
    background-color: white;
}

.box-one {
    background-color: #eb5757;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 20px solid #9b51e0;
    margin: 100px;
}

.box-two {
    background-color: #2d9cdb;
    border: 50px solid #27ae60;
    padding: 10px;
    height: 100px;
    width: 100px;
    margin: 70px;
}

.box-three {
    box-sizing: content-box;
    width: 700px;
    height: 300px;
    padding: 50px;
    border: 30px solid black;
    margin: 0px;
}

.box-four {
    box-sizing: border-box;
    width: 700px;
    height: 300px;
    padding: 50px;
    border: 30px solid black;
    margin: 0px;
}

p, ul {
    border: 2px solid rebeccapurple;
    padding: 0.2em;
}

.block, li {
    border: 2px solid blue;
    padding: 0.2em;
}

ul {
    display: flex;
    list-style: none;
}

.block {
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

.box-standard {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    width: 300px;
    height: 150px;
}

.box-alt {
    box-sizing: border-box;
}

.container {
    border: 5px solid blue;
    margin: 40px;
}

.box-std2 {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 10px;
    height: 100px;

    margin-top: -40px;
    margin-right: -30px;
    margin-bottom: 40px;
    margin-left: 4em;
}