.container {
    display: flex;
}

/*NACHBAU ÜBUNG*/
.item1 {
   padding: 20px;
   background: #76e972;
   border: 2px solid #1b2a4a; 
}

.item2 {
   padding: 20px;
   background: #a9cdee;
   border: 2px solid #1b2a4a; 
}

.item3 {
   padding: 20px;
   background: #fbfd94;
   border: 2px solid #1b2a4a; 
}

.container2 {
    display: flex;
    flex-direction: row;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.container-nachbau {
    display: flex;
    flex-direction: column;
}

.container4, .container5, .container6, .container7, .container8, .container9 {
    background: #d0e4f7;
    display: flex;
    flex-direction: row;
}

.container4 {
    justify-content: center;
}

.container5 {
    justify-content: flex-start;
}

.container6 {
    justify-content: flex-end;
}

.container7 {
    justify-content: space-between;
}

.container8 {
    justify-content: space-around;
}

.container9 {
    justify-content: space-evenly;
}

.item1var {
   padding: 20px;
   background: #76e972;
   border: 2px solid #1b2a4a;
   width: 80px 
}

.item2var {
   padding: 20px;
   background: #a9cdee;
   border: 2px solid #1b2a4a;
   width: 80px;
}

.item3var {
   padding: 20px;
   background: #fbfd94;
   border: 2px solid #1b2a4a;
   width: 80px;
}

/*GROUPING*/
.container10, .container11, .container12, .container13 {
    display: flex;
    height: 150px;
    background:#d0e4f7;
    justify-content: space-between;
}

.container10 {
    align-items: flex-start;
}

.container11{
    align-items: center;
}

.container12 {
    align-items: flex-end;
}

.container13 {
   align-items: stretch; 
}

.item1var2, .item2var2, .item3var2, .item1var3, .item2var3, .item3var3 {
    padding: 20px;
    border: 2px solid #1b2a4a;
    width: 100px;
}

.item1var2 {
    background: #76e972;
    height: 40px;
}

.item2var2 {
    background: #a9cdee;
    height: 80px;
}

.item3var2 {
    background: #fbfd94;
    height: 60px;
}

.item1var3 {
    background: #76e972;
}

.item2var3 {
    background: #a9cdee;
}

.item3var3 {
    background: #fbfd94;
}

.container14 {
    display: flex;
    flex-wrap: wrap;
    gap: 12px /*Abstand zwischen Items*/
}

.item1var4, .item2var4, .item3var4 {
    padding: 20px;
    border: 2px solid #1b2a4a;
    width: 200px;
}

.item1var4 {
    background: #76e972;
}

.item2var4 {
    background: #a9cdee;
}

.item3var4 {
    background: #fbfd94;
}

.container15 {
    display: flex;
}

.item1var5, .item2var5, .item3var5 {
    padding: 20px;
    border: 2px solid #1b2a4a;    
}

.item1var5 {
    background: #76e972;
    flex-grow: 1    
}

.item2var5 {
    background: #a9cdee;
    flex-grow: 2    
}

.item3var5 {
    background: #fbfd94;
    flex-grow: 1
}

.container16 {
    display: flex;
    width: 180px;
}

.item1var6, .item2var6, .item3var6 {
    flex-basis: 80px;
    flex-shrink: 1;
    padding: 20px;
    border: 2px solid #1b2a4a;
}

.item1var6 {
 background: #76e972;
}

.item2var6 {
    background: #a9cdee;
}

.item3var6 {
    background: #fbfd94;
}

.item1var7, .item3var7 {
    flex-basis: 80px;
    flex-shrink: 1;
    padding: 20px;
    border: 2px solid #1b2a4a;
}

.item1var7 {
 background: #76e972;
}

.item2var7 {
    flex-basis: 80px;
    flex-shrink: 2;
    background: #a9cdee;
    border: 2px solid #1b2a4a;

}

.item3var7 {
    background: #fbfd94;
}

.container17 {
    display: flex;
}

.item1var8, .item2var8, .item3var8 {
    flex-basis: auto;   /*STANDARD*/
    padding: 20px;
    border: 2px solid #1b2a4a;
}

.item1var8 {
    background: #76e972;
}

.item2var8 {
    background: #a9cdee;
}

.item3var8 {
    background: #fbfd94;
}

.item1var9, .item2var9, .item3var9 {
    flex-basis: 120px;
    padding: 20px;
    border: 2px solid #1b2a4a; 
}

.item1var9 {
    background: #76e972;
}

.item2var9 {
    background: #a9cdee;
}

.item3var9 {
    background: #fbfd94;
}

/*NACHBAUPROJEKT NAVIGATIONSLEISTE*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid #dcdfe4;
}

.navbar .links {    /*Descendant*/
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo, .link { /*Grouping*/
    font-weight: bold;
}

.link.btn { /*Chaining*/
    background: #1b2a4a;
    color: white;
    padding: 8px 16px;
}