@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 5px;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 100vh;
}
.head {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.right {
    display: flex;
    flex-direction: flex-end;
    gap: 12px;
}

.centerstage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

img {
    width: 600px;
    heigh: auto;
}

.inputbar {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

button {
    padding: 8px 16px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #eee;
    padding: 16px;
}

a {
    text-decoration: none;
    color:#666;
}

button {
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: rgb(59, 59, 59);
}