/*Box 1 Inhalt*/
.box {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
}

/*und Shorthand gleichbedeutend:*/
.box {
    padding: 20px 15px; /*oben/unten links/rechts*/
}

.box {
    border: 3px solid #1b2a4a; /*Breite Stil Farbe*/
}

.box2 {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
}

.box3 {
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    border: 5px solid black;
}

/*PLATZ FÜR NACHBAUÜBUNG*/
.oben2 {
    color: blue;
    margin: 25px 0px;
    padding: 20px;
    background-color: rgb(161, 161, 221);
    border: 5px solid black;
}

.unten2 {
    color: green;
    margin: 40px 50px;
    padding: 20px;
    background-color: rgb(150, 202, 150);
    border: 5px solid black;
}

/*ENDE PLATZ für Nachbauübung*/

.oben {
    marging-bottom: 40px;
}

.unten {
    margin-top: 25px;
}
